<% form_tag do %>

<h3>Change owner from group</h3>

<h4>Group: <%= h(@name) %></h4>

<label for="user">user name:</label><br/>
<%= select_tag("user", @members.collect{|usr| "<option>#{h(usr)}</option>" }) %>
<br>
<%= submit_tag "Change owner", :confirm => "Are you sure?" %>

<% end %>


<%= link_to("back to group list", :action=>"list") %>
