<% form_tag do %>

<h3>Add member to group</h3>

<h4>Group: <%= h(@group.name) %></h4>

<label for="user">user name:</label><br/>
<%= text_field_tag("user", nil, :size => 30) %><br/>

<%= submit_tag "Add" %>

<% end %>

