Dear gfdnavi administrators

<%= @suser.login %>(<%= @suser.full_name %>) has made decision on the request of following user to sign up for gfdnavi.


URL: <%= @url %>


Result: <%= @result %>

User's information:
 login name: <%= @user.login %>
 full name: <%= @user.full_name %>
 email address: <%= @user.email_address %>
 affiliation: <%= @user.affiliation %>
