DIV.title {
    color : black;
    font-style : normal;
    font-size : 0.85em;
    text-align : right;
}

SPAN.main {
    font-style : oblique;
    font-size : 3em;
}

DIV.index {
    font-style : normal;
    font-size : 1em;
    text-align : right;
}

DIV.footer {
    text-align : right;
}

H2 {
    text-align : left;
    font-size : 1em;
    font-style : normal;
    font-weight : bolder;
    border : thin;
    border-style : solid;
    border-width : 0em 0em 0.3em 0em;
    border-color: #A8F;
    margin : 1em 0em 1em 1em;
    padding : 0em 0em 0em 0.5em;
}

H3 {
    font-size : 1em;
    font-weight : bolder;
    background-color : #e0e0e0;
    margin : 1em 0em 1em 2em;
    padding : 0em 0em 0em 0em;
}

