<%
cols = %w(path node_type)
%>
<table border=1>
  <tr>
<% cols.each{|col| %>
    <th><%= col %></th>
<% } %>
  </tr>
<% @nodes.each{|node| %>
  <tr>
  <%
   cols.each{|col|
     case col
     when "node_type"
       val = Node::NODE_TYPES[node[col]]
     else
       val = node[col]
     end
  %>
    <td><%= val %></td>
   <% } %>
  </tr>
<% } %>
</table>
