#analysis_menu {
  width: 315px;
  float: left;
}

.analysis_menu {
  width: 300px;
  border: solid;
  border-width: 3px;
  overflow: auto;
}

.menu_header {
  height: 1em;
  background: #ddeeff;
}

.menu_body {
  margin: 5px;
}

#analysis_main {
  width: 100%;
}

.tab_td {
  line-height: 20px;
}

.tab_font {
  font-weight: bold;
}

.tab_close {
  padding: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #b0b0b0;
  border-bottom-color: #006080;
  white-space: nowrap;
  cursor: pointer;
  background: #e5e5e5;
}

.tab_open {
  padding: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #006080;
  border-bottom-color: white;
  white-space: nowrap;
}

.tab_sep {
  padding: 2px;
  border-style: solid;
  border-width: 2px 0 2px;
  border-color: white;
  border-bottom-color: #006080;
  white-space: nowrap;
}

.tab_body {
  border-style: solid;
  border-width: 0px 2px 2px;
  padding: 3px;
  border-color: #006080;
}


.diagram {
  float: left;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #0000ff;
  margin: 10px;
  -moz-box-shadow: 1px 1px 3px #000000;
  -webkit-box-shadow: 1px 1px 3px #000000;
  box-shadow: 1px 1px 3px #000000;
}

.diagram_header {
  background: #ddeeff;
  cursor: move;
}

/* moved to gfdnavi.css
.delete {
  border: 0;
  margin: 3px;
}
*/

.minmax {
  border: 0;
}

.drop_diagram {
  border: solid;
  border-width: 2px;
  border-color: blue;
}

.notice {
  color: red;
  font-size: 110%;
}

.show_diagram_notice {
  font-size: 140%
}

.show_diagram_url {
  font-size: 80%
}

#create_knowledge_from_analysis {
  width: 90%;
}
