.facet{ 
    width: 300px;
    vertical-align: top;
}

.result{ 
    vertical-align: top;
}

.tit {
  background-color:#3A5FCD;
  color:#FFFFFF;  
  font-size:16px;
  font-weight:bold;
  text-align:center;
  margin:2px;
}

.tit2 {
  background-color:#EE3A8C;
  color:#FFFFFF;
  font-size:14px;
  font-weight:bold;
  text-align:center;
  margin:1px;
}

.query_conditions{ 
    font-size: 13px;
}

.tree_element{ 
  border: 0px;
  margin: 0px;
  font-size: 12pt;
  vertical-align: middle;
}

#serverlist{ 
    position: absolute; 
    z-index: 1; 
    background-color: azure;
    width: 500px; 
    overflow: auto;
    -moz-box-shadow: 0px 0px 3px 2px #000000;
    -webkit-box-shadow: 0px 0px 3px 2px #000000;
    -o-box-shadow: 0px 0px 3px 2px #000000;
    box-shadow: 0px 0px 3px 2px #000000;
}
