
p.description {
  margin-top: 2px;
  margin-bottom: 2px;
}

h1.description {
  margin-top: 5px;
  margin-bottom: 5px;
}
h2.description {
  margin-top: 5px;
  margin-bottom: 5px;
}

.title_description {
  background-color:#ddf;
}
.description_description {
  background-color:#fff;
  margin-bottom: 10px;
  margin-left: 1.5ex;
}
.path_description {
  text-align:right;
}
.dir_description {
  position: relative;
  left: 10px;
}

.link_description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.att_label {
 color:blue;
 text-decoration:underline;
 cursor:pointer;
}
.att_contents {
 background-color:#eef;
 border:1px solid gray;
 cursor:pointer;
}

.references {
 background-color:#dfd;
 padding: 6px;
 border:1px solid gray;
}

b {
  font-family: Arial, Helvetica, Sans-serif, "‚l‚r ‚oƒSƒVƒbƒN", Osaka;
  margin-top: 2ex;
  line-height: 120%;
}

a.description {
  text-decoration: none;
  font-family: Arial, Helvetica, Sans-serif, "‚l‚r ‚oƒSƒVƒbƒN", Osaka;
  background-color:#dff;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 3px solid grey;
  border-right: 3px solid grey;
}
a:hover.description {
  color:#ff0000;
}
