#dir {
  border: solid;
  border-width: 1px;
}
#dir_tree {
  float: left;
  overflow: auto;
  text-align: left;
}
#dir_tree_float {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
#dir_details {
  overflow: auto;
}
#dir_help {
  padding: 5px;
}
#details_window {
  border: solid;
  border-width: 1px;
  min-height: 10em;
  padding: 5px;
}

.tree {
  font-size: 12pt;
  vertical-align: middle;
}

.path {
  border-bottom: solid;
  border-width: 1px;
  padding: 3px;
}

.path_text {
  font-weight: bold;
}

.selected {
  background-color: blue;
  color: white;
}
