Dear <%= @user.full_name %>

Thank you for your signing up for gfdnavi(<%=@url%>).
This mail was automatically sent for the norification.

If you do not receive an email informing the authorization in a few days,
please ask to <%= GFDNAVI_ADMIN_EMAIL %>.


Your information:
 login name: <%= @user.login %>
 full name: <%= @user.full_name %>
 email address: <%= @user.email_address %>
 affiliation: <%= @user.affiliation %>
