<h2>Analysis tab</h2>
<p>
 <ol>
  <li> <span class="help_stress">Choose one or more variables</span>
       with the check-boxes in the 
       <span class="help_link" 
          onMouseOver='helpLinkHilit("variables",this)'
          onMouseOut='helpLinkUnhilit("variables",this)'>
       "Variables" window</span>
       at the top. Kinds of functions you can choose below depends on the
       number of variables you choose. For instance, you can "add"
       variables if you choose two.
  <li> Click this tab, and <span class="help_stress">select a function</span>
       with the 
       <span class="help_link" 
          onMouseOver='helpLinkHilit("function",this)'
          onMouseOut='helpLinkUnhilit("function",this)'>
       "Function" field</span>.
       You can add your own one if you have an account.
  <li> <span class="help_stress">Press the </span> 
       <span class="help_link" 
         onMouseOver='helpLinkHilit("analysis_button",this)'
         onMouseOut='helpLinkUnhilit("analysis_button",this)'>
       "analyze" button</span>
       above (next to the "Variables" window. This button is
       shown only when it is ready).
 </ol>
</p>
<p>
 OPTIONS:
 <ul>
  <li> Specify a subset with the 
       <span class="help_link" 
         onMouseOver='helpLinkHilit("axes",this)'
         onMouseOut='helpLinkUnhilit("axes",this)'>
       "Dimensions" window</span>
       above. The function is applied only to the subset. 
       <span class="help_stress">Recommended if the data size is big.</span>
  <li> <span class="help_link" 
         onMouseOver='helpLinkHilit("function_input_num",this)'
         onMouseOut='helpLinkUnhilit("function_input_num",this)'>
       "Number of input variables" field</span>:
       You can use it like this:
       If you choose two or more variables in the "Variables" window,
       you can still use functions for single variables (such as
       "mean"), if you choose "1" here. Then, the function is applied
       for each variable.
  <li> <span class="help_link" 
         onMouseOver='helpLinkHilit("function_arguments",this)'
         onMouseOut='helpLinkUnhilit("function_arguments",this)'>
       "Arguments for the function" text window</span>: 
       Some of the function require arguments. 
       In that case, this window appears and 
       shows its default value, which you can change by typing in
       something else. 
 </ul>
</p>
