Dear <%= @user.full_name %>

We are sorry but your request to sign up gfdnavi was rejected.

URL: <%= @url %>

Your account information:
 login name: <%= @user.login %>
 full name: <%= @user.full_name %>
 email address: <%= @user.email_address %>
 affiliation: <%= @user.affiliation %>
