Dear <%= @user.full_name %>

Your request to sign up gfdnavi was accepted.
Let's go to <%=@url%> at once.
Enjoy "gfdnavi"!


Your account information:
 login name: <%= @user.login %>
 full name: <%= @user.full_name %>
 email address: <%= @user.email_address %>
 affiliation: <%= @user.affiliation %>
