<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Gfdnavi</title>
<%= javascript_include_tag "AC_OETags" %>
<style>
body { margin: 0px; overflow:hidden }
</style>
</head>

<body scroll='no'>
<script language="JavaScript" type="text/javascript">
<!--
		AC_FL_RunContent(
					"src", "../flex/finder",
					"width", "100%",
					"height", "100%",
					"align", "middle",
					"id", "finder",
					"quality", "high",
					"bgcolor", "#869ca7",
					"name", "finder",
					"FlashVars", "uri=<%=@uri_prefix%>",
					"allowScriptAccess","sameDomain",
					"type", "application/x-shockwave-flash",
					"pluginspage", "http://www.adobe.com/go/getflashplayer"
	);
// -->
</script>
<noscript>
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			id="finder" width="100%" height="100%"
			codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
			<param name="movie" value="../flex/finder.swf" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#869ca7" />
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="FlashVars" value="uri=<%=@uri_prefix%>"/>
			<embed src="../flex/finder.swf" quality="high" bgcolor="#869ca7"
				width="100%" height="100%" name="explorer" align="middle"
				play="true"
				loop="false"
				quality="high"
				allowScriptAccess="sameDomain"
			        FlashVars="uri=<%=@uri_prefix%>"
				type="application/x-shockwave-flash"
				pluginspage="http://www.adobe.com/go/getflashplayer">
			</embed>
	</object>
</noscript>
</body>
</html>
