<!-- figure -->
<% @count = 1 %>
<table>
  <tr>  
    <% if @knowledge_figures && @kf = @knowledge_figures[0] %>
         <td>
           <%= render(:partial => "layout_figure") %>
	   <br>
           Fig.&nbsp;<%= @kf.caption %>
         </td>
    <% end %>
  </tr>
</table>
<br>

<!-- textbody -->
<%
  # textbody‚ð“Ç‚ÝŽæ‚Á‚ÄARD•—‚Ì•¶‘‚©‚çHTML•¶‘‚Ö‚Æ•ÏŠ·‚·‚é
  require "knowledge_parser"
  textbody = @knowledge.textbody
  rdparser = RDParser.new(textbody)
  tree = rdparser.make_tree
  element = rdparser.to_html(@knowledge_figures, relative_url_root)
%>
<div class=show_textbody>
  <%= element %>
</div>
<br>
