<%
textbody_line = 0
@knowledge.textbody[0..359].each_line {|line|
  line.gsub!(/\=/, "")
  line.gsub!(/\*/, "")
  line.gsub!(/\|/, "")
  line.gsub!(/\(\(</, "")
  line.gsub!(/>\)\)/, "")
  line.gsub!(/\]\)\)/, "")
  line.gsub!(/\(\(\[/, "")
  %>
  <% if textbody_line < 4 %>
  <%= h line %>
  <% end %>
<%
textbody_line = textbody_line + 1
}
%>
<% if @knowledge.textbody.length > 360 %>
<b> ...</b>
<% end %>
