/*
 * 2006/12/22 T. Horinouchi
 *   * Copied the style sheet for Gttol4 from 
 *     http://www.gfd-dennou.org/arch/gtool4/htmltools/
 *   * Modified for Gfdnavi
 * 
 * style.css: CSS style definition file
 * modified from ((<URL:http://www.ruby-lang.org/ja/man-1.6/style.css>)).
 * 2006/06/07 (Y. Morikawa) "ul p", "ol p" is added.
 */

body {
    /* background: #EEEEEE; */
    background: url(http://www.gfd-dennou.org/html/htmltool/wall_d.gif);
    /* background: url(logo/wall_d.gif); */
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    /* font-size: 10.5pt; */
    font-family: verdana, arial, helvetica, Sans-Serif;
    line-height: 150%;
}

#menu table {
    background: #e0e0ff;
}

#menu td {
    border-width: 1px; 
    border-style: solid; 
    border-color: gray; 
    padding: 2px 2px;
}

a {
  text-decoration: none;
}
a:hover {
    color: #C00000;
}

h1 {
    font-family: "times roman", verdana, sans-serif; 
    text-align:    center; 
    background:    #fff2ec;
    border-top:    #bb3300 4px solid;
    border-bottom: #bb3300 4px solid;
    line-height: 150%;
}

#links {
}

#links td {
  padding: 0px 5px; 
  font-size: 85%;
}

#title td {
  padding: 1px 4px; 
  text-align:    center; 
}

h2, h3, h4, h5, h6 {
    font-family: verdana, arial, helvetica, Sans-Serif;
}

h2 {
    border-left: #ddaa99 0.6em solid;
    border-bottom: #bb3300 5px solid;
    margin-right: 30%;
    line-height: 120%;
}

h3 {
    color: #006030;
    border-bottom: #000066 1px solid;
    /* margin-left: 25px; */
    margin-right: 15%;
    margin-top:2ex;
    margin-bottom:0ex
}

h4 {
    color: #000000;
    /* padding-top: 0.2em;
    padding-left: 0.5em;
    border-top: #000066 1px solid;
    border-left: #006600 5px solid;
    margin-left: 35px;
    margin-right: 50% */
}

h5 {
    color: rgb(204,153,51);
    /* margin-left: 4ex; */
    margin-right: 1ex
}

h6 {
    color: rgb(153,153,51);
    /* margin-left: 5ex; */
    margin-right: 1ex
}

p  {
    text-indent: 0;
    margin-left: 2ex;
    margin-right: 2ex;
}

ul p
  {
   margin-left: 0em;
}

ol p
  {
   margin-left: 0em;
}

dd p
  {
   margin-left: 0em;
}

ol.rd2html_hindex
   {
    font-size: 80%;
    list-style-type: decimal;
    margin-left: 5ex;
    margin-right: 0ex;
    margin-top: 0ex;
    margin-bottom: 0ex;
    line-height: 150%;
}

ol.rd2html_hindex ul
    {
     font-size: 100%;
     list-style-type: decimal;
     margin-left: 3ex;
     margin-right: 0ex;
     margin-top: 0ex;
     margin-bottom: 0ex;
     line-height: 100%;
}


div.header p.status { text-align: right; }
div.header p.last-modified { text-align: left; }

div.recipesheading { 
    font-style: italic ;
    font-size: 130%;
}

/*
li p {
    margin-top: -1ex;
}
*/

dt {
    font-weight: bold;
    margin-top: 2ex;
    margin-left: 1em;
}

address {
    color: gray;
    background: #EEEEEE;
    text-align: right;
    font-family: Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

var {
    color: #408000;
}

em {
    color: #004080;
    font-family: arial, helvetica, Sans-Serif, gothic;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}

pre, .likepre {
    border-right: #646464 1px solid;
    padding-right: 0.5em;
    border-top: #646464 1px solid;
    padding-top: 0.5em;
    border-left: #646464 1px solid;
    padding-left: 0.5em;
    border-bottom: #646464 1px solid;
    padding-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    background-color: #e6e6e6;
    color: black;
}

pre {
    white-space: pre;
}

code {
   padding-right: 0.5em;
   padding-top: 0.3em;
   padding-left: 0.5em;
   padding-bottom: 0.3em;
   border-top: #66CC66 1px solid;
   border-bottom: #66CC66 1px solid;
   border-left: #66CC66 1px solid;
   border-right: #66CC66 1px solid;
}

span.download {
    font-weight: normal;
    color: blue;
    background: #EEEEEE;
}


.path {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navi {
    text-align: right;
}

.irb_input{
    font-weight: 900;
    color: #0000AA;
}

.summary{
   background-color:#FFFFFF;
   border:1px solid #999999;
   padding-left:1em;
   padding-right:1em;
   margin-left:1em;
   margin-right:1em;
}
