body { 
  font-family: Arial, Helvetica, Sans-serif, "‚l‚r ‚oƒSƒVƒbƒN", Osaka; 
  font-size: 80%;
  margin-left: 0.5ex; 
  margin-top: 1ex; 
  line-height: 130%;
}


a { 
  text-decoration: none;
}
a:hover { 
  color:#ff0000;
}

div { margin-left: -0.8em;
}
div div { margin-left: -2.5em;
}

# The following does not work, because it is interpreted differenly
# by IE and Mozilla:
#
#ul { 
#  margin-left: 0ex; 
#}
#ol { 
#  margin-left: 0ex; 
#}
