.entity {
  border: thin solid;
  padding: 5px;
  cursor: move;
}
.plug {
  background-color: blue;
  border: thin solid;
  width: 10px;
  height: 10px;
  cursor: pointer;
  overflow: hidden;
}
.plug_hover {
  border-color: red;
}
.connector {
  float: left;
  background-color: blue;
  border: thin solid;
  width: 8px;
  height: 8px;
  cursor: pointer;
  overflow: hidden;
}

.delete {
  background-color: white;
  border: 0;
  cursor: pointer;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: large;
  font-weight:bold;
  margin-bottom: 10px;
  margin: 3px;
}
.list_box {
  float: left;
  margin: 10px;
}
.list {
  border: thin solid;
  width: 100%;
  height: 500;
  margin-bottom: 10px;
  padding: 3px;
  overflow: auto;
}

.selected {
  color: blue;
}

#canvas_chart {
  margin-bottom: 10px;
}

#canvas_div {
}

#canvas {
  border: thin solid;
}

#form_div {
  float: left;
  border: thin solid;
  overflow: auto;
  padding: 5px;
}
