<% if @history && @history.length > 0 %>
<hr/>
History
<table>
<%
offset = @history.offset
(@history.length-1).downto(0) do |i|
%>
  <tr>
   <td width=30 align=right>
    <%= i + offset + 1 %>
   <td>
   <td>
    <%= link_to @history[i][1], :action=>"load_history", :id=>i %>
   </td>
  </tr>
<% end %>
</table>
<% end %>
