<h2>Directory Tree</h2>
<p>
 This is a window to browse the data directory tree.
 It behaves like MS Explorer. Find data you need to visualize and 
 analyze.
</p>
 <ol>
  <p><li> To open a directory,
       <ul>
	 <li> Click the <span class="help_stress">folder icon or [+]
              mark</span>   --> tree expansion alone
       </ul>
       or 
       <ul>
	 <li> Click the <span class="help_stress">directory name</span>
              --> also subdirectory details
              are shown in 
              <span class="help_link" 
                 onMouseOver='helpLinkHilit("dir_details",this)'
                 onMouseOut='helpLinkUnhilit("dir_details",this)'>
              the window on the right</span>.
       </ul></p>
  <p><li> To select data for visualization and analysis,
       <ul>
	 <li> Select a directory (by clicking its name as introduced
	     above) whose 
              <span class="help_link" 
                 onMouseOver='helpLinkHilit("dir_details",this)'
                 onMouseOut='helpLinkUnhilit("dir_details",this)'>
              content list</span> include 
              <span class="help_stress">"Add"</span> or 
              <span class="help_stress">"Add children"</span>
              links like
              <a href="../images/Help_S-shots/dir_tree_with_add.jpg">
              this SCREENSHOT</a>. Then you can put data in
              the basket for visualization/analysis by clicking
              the "Add..." links or by pressing the "Add selected items"
              after checking the check boxes.
         <li> For further information, <span class="help_stress">click the
              help mark</span> in 
              <span class="help_link" 
                 onMouseOver='helpLinkHilit("dir_details",this)'
                 onMouseOut='helpLinkUnhilit("dir_details",this)'>
              the window on the right</span> (to appear if you
              click the name of a directory in this tree).
       </ul></p>
 </ol>
