<h2>Directory Contents</h2>

<p>
This window shows the contents of 
<span class="help_link" 
   onMouseOver='helpLinkHilit("current_directory",this)'
   onMouseOut='helpLinkUnhilit("current_directory",this)'>
the current directory</span>.
</p>

<ul>
  <p><li>
     <span class="help_stress">You can select data for analysis and 
     visualization</span> if you see
     <span class="help_stress">"Add"</span> or 
     <span class="help_stress">"Add children"</span>
     links like <a href="../images/Help_S-shots/dir_tree_with_add.jpg">
     this SCREENSHOT</a>. Here,
     </p>
     <p>
      <ul>
       <li> To see "Add" means that the line represents a numeric
            data that can be visualized/analyzed.
       <li> To see "Add children" means that such numeric 
            data are located in a directory just below (one hop). 
            This is rather a
            restriction imposed in order to avoid accidentally selecting 
            too many data by covering numeric data under arbitrary hops.
      </ul>
     </p>
  <p><li> You can <span class="help_stress">browse metadata</span>
          of the data by clicking directory names in
	  <span class="help_link" 
             onMouseOver='helpLinkHilit("dir_details_name_column",this)'
            onMouseOut='helpLinkUnhilit("dir_details_name_column",this)'>
          this column</span> or 
          <span class="help_link" 
             onMouseOver='helpLinkHilit("current_directory",this)'
             onMouseOut='helpLinkUnhilit("current_directory",this)'>
          the current directory name</span>.
</ul>

